## Python ##
db.sqlite3
__pycache__
*.cached_templates/

## AWS ##
is531_project3/settings-dev.py
is531_project3/settings-prod.py
~/

### Elastic Beanstalk Files ###
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
