<%inherit file="base.htm" />

<%block name="content">
<section id="edit_location">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Edit location</h2>
        <br />
        <form id="#EditLocationForm" action="/locations.edit/${ location.id }" role="form" method="POST">${ csrf_input}
          <table class="table">
          ${ form }
          </table>
          <input type="submit" class="btn btn-custom" value="Submit">
        </form>
      </div>
    </div>
  </div>
</section>
</%block>
